<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883338172005-cb64ovp0luvraa0kfr69m1cidcpd0kv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883338172005-cb64ovp0luvraa0kfr69m1cidcpd0kv4</string>
	<key>API_KEY</key>
	<string>AIzaSyCQrpQaTXM4KH5QAcHSiZjG7LsOwOvAoxE</string>
	<key>GCM_SENDER_ID</key>
	<string>883338172005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joseph.Spotify</string>
	<key>PROJECT_ID</key>
	<string>spotify-12829</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-12829.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883338172005:ios:f2de4e0189b7d8195bd88c</string>
</dict>
</plist>